/* body {
    background-color: #121212;
    color: white;
  } */

  .main-content {
    background-color: #121212;
    padding: 20px;
  }

  .nav-link {
    color: white !important;
  }

  .sidebarTop{
    display: flex;
    justify-content: space-between;
    /* width:200px; */
    white-space: nowrap;
    overflow: hidden;
    /* border:1px solid; */
    text-overflow: ellipsis;
  }
  .sidebarMain{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    /* width:200px; */
    white-space: nowrap;
    overflow: hidden;
    /* border:1px solid; */
    text-overflow: ellipsis;
    }
    .sidebarMain1{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* width:200px; */
        white-space: nowrap;
        overflow: hidden;
        /* border:1px solid; */
        text-overflow: ellipsis;
    }

  
  .sidebarImg img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 22px;
  }
  .sidebarParagrafo{
    display: flex;
    flex-direction: column;
    /* width:200px; */
    white-space: nowrap;
    overflow: hidden;
    /* border:1px solid; */
    text-overflow: ellipsis;
    
  }
  .sidebarParagrafo p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .sidebarParagrafoFooter{
    display: flex;
    
}

.titoloSide{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time{
    margin-left: 10px;
    display:flex;
    justify-content: space-between;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.time p{
    margin-right: 5px;
}