main{
    background-image: linear-gradient(to bottom, #262626, #1e1e1e, #171717, #0d0d0d, #000000);
}

.container{
    color: white;
}

.upperWrapper{
    padding-left: 8%;
    padding-right: 8%;
}

nav {
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav button{
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    width: 30px;
    height: 30px;
    background-color: #131313;
    border: none;
}

nav button svg{
    display: block;
    margin: auto;
    font-size: large;
}

nav button svg:hover{
    fill: white;
}


.authorSection{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
    width: 100%;
}

.titleWrapper{
    display: flex;
    justify-content: space-between;
    padding-right: 8%;
}

.title{
    padding-left: 9%;
    margin-bottom: 0;
}

.vt{
    text-wrap: nowrap;
    text-align: end;
}

.cardContainer{
    display: flex;
    justify-content: center;
}

.cardSpacer{
    padding: 0 0 1em;
}

.cardWrapper{
    padding: 0.5em;
    /* background-color: #1E1A1A; */
    /* background-color: #1E1A1A; */
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
}

.cardWrapper:hover{
    background-color: #1E1A1A;
}



.card{
    border-radius: 0.5em;
    border: none;
    background-color: transparent;
}

.imgWrapper{
    /* background-color: #1E1A1A; */
    width: 100%;
}

.card img{
    border-radius: 0.5em;
}


.card-body{
    display: flex;
    flex-direction: column;
    padding: 0.5em 0 0;
}

.author{
    margin: 0.3em 0 0;
    color: #5D5D5D;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
}

.author:hover {
    text-decoration: underline;
}

.albumName{
    text-decoration: none;
    color: white;
    font-weight: bolder;    
}