main{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(35,35,35,1) 100%);
    width: 66% !important;

}
@media  (max-width: 768px){
    main{
        width: 100% !important ;
    }
}

@media (max-width: 768px){
    main {
        width: 100% !important;
    }
}

.container{
    color: white;
}



@media (max-width: 768px){
    .upperWrapper{
        padding-left: 0;
        padding-right: 0;
    }
}


/* NAV with buttons and user profile*/
nav {
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navButtonContainer button{
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    width: 30px;
    height: 30px;
    background-color: #131313;
    border: none;
}

#navButtonContainer button svg{
    display: block;
    margin: auto;
}

#navButtonContainer button:hover > svg{
    fill: white;
}

#profileInfo{
    display: flex;
    align-items: center;
    min-width: max-content;
}

#profilePic{
    height: 35px;
    width: 35px;
    text-align: center;
    align-content: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #121212;
}

#profilePic img{
    border-radius: 50%;
}

#profileName{
    height: 35px;
    background-color: #121212;
    padding: 0.2em 0.5em 0;
}

#profileArrow{
    height: 35px;
    width: 35px;
    text-align: center;
    align-content: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #121212;
}

#profileArrow button{
    background-color: transparent;
    border: none;
    color: white;
}

/* HERO */

#heroWrapper{
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(17deg, rgba(0,0,0,1) 20%, rgba(35,35,35,1) 60%);
}

#heroInfos {
    width: 100%;
}

#heroTitle a{
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#heroArtist a{
    text-decoration: none;
    color: white;
}

#heroImgWrapper{
    padding: 1em;
    min-width: fit-content;
}

@media screen and (min-width: 1501px){
    #heroInfos h1{
        font-size: 4em;
        
    }
}

@media screen and (min-width: 501px) and (max-width: 1500px){
    #heroInfos h1{
        font-size: 3em;
        
    }
}

@media screen and (width > 500px) and (width < 1000px){
    #heroInfos h1{
        font-size: 2em;
        
    }
}

@media screen and (width < 500px){
    #heroInfos h1{
        font-size: 1em;
        
    }
}

#heroInfos p{
    margin: 0;
    padding-top: 1em;
}

#heroButtons{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}

#heroButtons button{
    padding: 0.5em 1.5em;
    border-radius: 500px;
    /* margin-right: 1em;
    margin-top: 1em; */
    margin: 1em 0 1em 0;
}

#heroButtons button:nth-child(2){
    background-color: black;
    border: 1px solid #484848;
    margin-left: 1em;
}

#heroButtons button:nth-child(3){
    background-color: transparent;
    border: none;
    
}

/* BUONASERA */

#buonasera h3{
    margin: 0.5em 0;
}

/* #buonaseraWrapper{
    border: 1px solid red;
    height: 200px;
} */

.miniContainer{
    display: flex;
    font-weight: bold;
}

.mcImgContainer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 60px;
    padding-left: 0;
    border-radius: 5px;
}

.borderImmagine{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (min-width: 768px){
    .mcImgContainer{
        background-color: #49484C;
    }
}

.mcImgContainer img{
    object-fit: cover;
}

/* .mcText {
    width: 70%;
} */

/* AUTHOR SECTION */
#sections{
    padding: 0;
}

.authorSection{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
    width: 100%;
}

.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.title{
    
    margin-bottom: 0;
}

.vt{
    text-wrap: nowrap;
    margin: 0;
    color: gray;
}



/* CARDS */
.cardContainer{
    display: flex;
    justify-content: space-between;
}

.cardSpacer{
    padding: 0 0 1em;
    flex-grow: 1;
}

.cardWrapper{
    padding: 0.5em;
    /* background-color: #1E1A1A; */
    /* background-color: #1E1A1A; */
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
}

.cardWrapper:hover{
    background-color: #1E1A1A;
}

.card{
    border-radius: 0.5em;
    border: none;
    background-color: transparent;
}

.imgWrapper{
    /* background-color: #1E1A1A; */
    width: 100%;
}

.card img{
    border-radius: 0.5em;
}


.card-body{
    display: flex;
    flex-direction: column;
    padding: 0.5em 0 0;
}

.author{
    margin: 0.3em 0 0;
    color: #5D5D5D;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    z-index: 1;
}

.author:hover {
    text-decoration: underline;
}

.albumName{
    text-decoration: none;
    color: white;
    font-weight: bolder; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}